body {
  margin: 0em;
  padding: 0em;
  height: 100%;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

br {
  line-height: 3em;
}

.fill {
	height: 100%;
	position: relative;
}

.center {
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
}

.top {
  background-color: #ff8764;
  height: 100vh;
}

.bottom {
  background-color: #fff;
  margin: 1em;
}

.banner {
  height: auto;
  max-width: 50em;
  width: 100%;
}

.repo-desc {
  font-size: 2em;
}

.repo-link  {
  color: #000;
  background-color: #fff;
  text-align: center;
  font-size: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 10em;
  height: 1em;
}

.repo-link:hover {
  text-decoration: none;
  background-color: #008cba;
  color: #fff;
}

.census-title {
  font-size: 2.3em;
  padding: 1em;
}

.census-list{
margin:0 auto;
width:500px;
}
.census-list li, .census-list a{
float:left;
height:35px;
line-height:35px;
position:relative;
font-size:15px;
margin-bottom: 12px;
font-family: 'Raleway', sans-serif;
transition: background-color 1.5s ease;
}
.census-list a{
padding:0 60px 0 12px;
background:#0089e0;
color:#fff;
text-decoration:none;
-moz-border-radius-bottomright:4px;
-webkit-border-bottom-right-radius:4px;
border-bottom-right-radius:4px;
-moz-border-radius-topright:4px;
-webkit-border-top-right-radius:4px;
border-top-right-radius:4px;
}

.census-list a:before{
content:"";
float:left;
position:absolute;
top:0;
left:-12px;
width:0;
height:0;
border-color:transparent #0089e0 transparent transparent;
border-style:solid;
border-width: 18px 12px 18px 0;
}

.census-list a:after{
content:"";
position:absolute;
top:15px;
left:0;
float:left;
width:6px;
height:6px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
background:#fff;
-moz-box-shadow:-1px -1px 2px #004977;
-webkit-box-shadow:-1px -1px 2px #004977;
box-shadow:-1px -1px 2px #004977;
}
.census-list a:hover{
background:#555;
}

.census-list a:hover:before{
border-color:transparent #0089e0 transparent transparent;
}

ul.items li:nth-child(3n+4) {
  clear: left;
  float: left;
}
